<!DOCTYPE html>
<html>
  <head>
    <title>Meaningful Stuff</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Meaningful!</h1>
    {% if intro %}
    <p>{{ intro }}</p>
    {% endif %}
    <form method="post">
      <input type="text" name="data" />
      <input type="submit" value="Free Virus" />
    </form>

    {% if data %}
    {{ data }}
    {% endif %}

    {% for num in nums %}
    <h3>{{ num }}</h3>
    {% endfor %}
  </body>
</html>